body, html, #root {
  height: 100%;
}

.App, #root  {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.freestyleMachine{
  border: 1px solid black;
  background-color: rgb(244, 0, 9);
  width: 80%;
  height: 90% !important;
  border-radius: 10% 10% 5% 5% ;
}
.freestyleLogo{
  width: 30%;
  height: auto;
  float: right;
  margin-top: 10px;
}

.flavorDisplay{
  border: 1px solid black;
  background-color: #ccc;
  border-radius: 20px;
  height: 40%;
  padding: 10px;
  overflow: scroll
}

.flavor{
  height: 25%;
  width: 25%;
  border: 1px solid black;
  border-radius: 50%;
}
.logo {
  width: 100%;
  height: auto;
  max-width: 625px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
}
.logo:hover{
  cursor: pointer;
}

.drinkDisplay {
    border: 1px solid black;
    background-color: rgb(192,192,192);
    border-radius: 30%;
    margin-top: 10px;
    height: 40%;
    justify-content: space-between;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column
    
}
.pourSelection{
  margin-top: 10px;
  border-radius: 50%;
  height: 50px;
  border: 3px solid #262626;
}

.pourSelection:disabled{
  border: 3px solid darkgrey;

}
.clearCupContainer {
  display: flex;
  align-items: center;
}
.clearCup {
  align-self: center;
  margin-bottom: 10px;

}

.drink {
  transform: translateY(-50%, -50%);
  width: 100px;
  height: 120px;
  border: 3px solid #262626;
  border-top: 2px solid transparent;
  border-radius: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-repeat: repeat-x;
  animation: animate 10s linear infinite;
  box-shadow: 0 0 0 3px #fff, 0 20px 35px rgba(0,0,0.5);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
/* .drink:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 80px;
  border: 6px solid #fff;
  right: -57px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
} */

@keyframes animate{
  0% {
    background-position: 0 100px;
  }
  10% {
    background-position: 0 100px;
  }
  40% {
    background-position: 1000px -70px;
  }
  80% {
    background-position: 2000px -80px;
  }
}
