body, html, #root {
  height: 100%;
}

.App, #root  {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.freestyleMachine{
  border: 1px solid black;
  background-color: rgb(244, 0, 9);
  width: 415px;
  height: 650px !important;
  border-radius: 10% 10% 5% 5% ;
}
.freestyleLogo{
  width: 30%;
  height: auto;
  float: right;
  margin-top: 10px;
}

.flavorDisplay{
  border: 1px solid black;
  background-color: #ccc;
  border-radius: 20px;
  height: 240px;
  padding: 4px;
  overflow: scroll;
}

.flavor{
  height: 20%;
  width: 20%;
  border: 1px solid black;
  border-radius: 50%;
  margin: 3px;
}
.logo {
  width: 100%;
  height: auto;
  max-width: 625px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
}
.logo:hover{
  cursor: pointer;
}

.drinkDisplay {
    border: 1px solid black;
    background-color: rgb(192,192,192);
    border-radius: 30%;
    margin-top: 10px;
    height: 250px;
    justify-content: space-between;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column
    
}
.pourSelection{
  margin-top: 10px;
  border-radius: 50%;
  height: 50px;
  border: 3px solid #262626;

	cursor: pointer;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.7);
	animation: pulse 1.5s infinite;

}

.pourSelection:disabled{
  border: 3px solid darkgrey;
  animation: none;
  cursor: not-allowed;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}
@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}

.clearCupContainer {
  display: flex;
  align-items: center;
}
.clearCup {
  align-self: center;
  margin-bottom: 10px;

}

.drink {
  transform: translateY(-50%, -50%);
  min-width: 100px;
  min-height: 120px;
  width: 50%;
  height: auto;
  border: 3px solid #262626;
  border-top: 2px solid rgb(192,192,192);
  border-radius: 15px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  background-repeat: no-repeat;
  /* animation: animate 10s linear infinite; */
  box-shadow: 0 0 0 3px #fff, 0 20px 35px rgba(0,0,0.5);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background: linear-gradient(
    to bottom,
    rgb(192,192,192),
    rgb(192,192,192) 1rem,
    transparent 2rem,
    transparent 100%
  )
}
/* .drink:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 80px;
  border: 6px solid #fff;
  right: -57px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
} */

@keyframes animate{
  0% {
    background-position: 0 100px;
  }
  10% {
    background-position: 0 100px;
  }
  40% {
    background-position: 1000px -70px;
  }
  80% {
    background-position: 2000px -80px;
  }
}


